@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: url(/public/images/background.jpg)
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: retrogaming;
  src: url("../public/RetroGaming.ttf");
}

.title {
  font-family: retrogaming
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

input[type="button"] {
    padding: 12px 24px;
    margin: 8px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
}

.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: top;
    height: 100vh;
}
  
.titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  
.resultContainer, .historyItem { 
    flex-direction: row;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}
  
.historyContainer {
    flex-direction: column;
    display: flex;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
}
  
.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
}
  
.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
  
.inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
}
  
.inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    main {
      background-image: url("/public/images/background.jpg");
    }
  
    color: rgb(var(--foreground-rgb));
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  
    .cyber-button {
      @apply font-mono text-green-400 bg-gray-900 border-2 border-green-400 rounded-md p-2 transition-all duration-200 ease-in-out transform active:bg-slate-600 hover:text-pink-600 hover:border-pink-600 hover:shadow-neon;
    }
  
    .text-neon-pink {
      @apply text-pink-600;
      text-shadow: 0 0 2px #ff00ff, 0 0 2px #ff00ff, 0 0 3px #ff00ff;
      font-family: 'Courier New', Courier, monospace;
    }
  
    .bg-neon {
      @apply bg-gray-900;
    }
  
    .shadow-neon {
      @apply shadow-lg;
      box-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99, 0 0 30px #00ff99;
    }
  
    .text-neon-green {
      @apply text-green-400;
      text-shadow: 0 0 10px #00ff99, 0 0 0px #00ff99, 0 0 0px #00ff99;
    }

    .text-neon-green2 {
      @apply text-green-400;
      text-shadow: 0 0 10px #00ff99;
      font-family: 'Courier New', Courier, monospace;
    }
  
    .controller {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .controller-buttons-left,
    .controller-buttons-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .controller-buttons-left .flex,
    .controller-buttons-right .flex {
      display: flex;
      flex-direction: row;
    }
  
    .controller-button {
      width: 60px;
      height: 60px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #444;
      color: #fff;
      border-radius: 50%;
      font-size: 20px;
      cursor: pointer;
      user-select: none;
      transition: background-color 0.2s, transform 0.2s;
      box-shadow: 0 4px #999;
    }
  
    .controller-button-active {
      background-color: #888; 
      transform: translateY(4px); 
      box-shadow: 0 2px #666; 
    }
  
    .keymappings {
      font-family: 'Courier New', Courier, monospace;
      color: #00ff99;
      text-shadow: 0 0 2px #00ff99, 0 0 2px #00ff99, 0 0 5px #00ff99;
      background-color: rgba(0, 0, 0, 0.5);
      border: 2px solid #00ff99;
      padding: 20px;
      border-radius: 10px;
      width: 300px;
      position: fixed;
      top: 30px;
      left: 20px;
      z-index: 50;
    }
  
    .keymappings th,
    .keymappings td {
      padding: 10px;
      text-align: left;
    }
  
    .keymappings th {
      border-bottom: 2px solid #00ff99;
    }
  
    .keymappings tr:hover {
      background-color: rgba(245, 245, 245, 0.15);
    }
  
    .instructions {
      font-family: 'Courier New', Courier, monospace;
      max-width: 1000px;
    }
  
    .retro-button {
      @apply font-mono text-green-400 bg-gray-900 border-2 border-green-400 rounded-md p-2 transition-all duration-200 ease-in-out transform hover:text-pink-600 hover:border-pink-600 hover:shadow-neon;
      
    }
}