@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  background-image: url("/images/background.jpg");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .cyber-button {
    @apply font-mono text-green-400 bg-gray-900 border-2 border-green-400 rounded-md p-2 transition-all duration-200 ease-in-out transform hover:text-pink-600 hover:border-pink-600 hover:shadow-neon;
  }
  .text-neon-pink {
    @apply text-pink-600;
    text-shadow: 0 0 2px #ff00ff, 0 0 2px #ff00ff, 0 0 3px #ff00ff;
  }
  .bg-neon {
    @apply bg-gray-900;
  }
  .shadow-neon {
    @apply shadow-lg;
    box-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99, 0 0 30px #00ff99;
  }
  .text-neon-green {
    @apply text-green-400;
    text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99, 0 0 20px #00ff99;
  }
  .controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .controller-buttons-left, .controller-buttons-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .controller-buttons-left .flex, .controller-buttons-right .flex {
    display: flex;
    flex-direction: row;
  }
  
  .controller-button {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
  }
  
  .controller-button-active {
    background-color: #0f0; /* Change to green when active */
  }
}